.row
	%h1= "How Far?"
.row
	.text-center
		-unless @user
			%a.button{:href => '/auth/twitter'}= "Log in with Twitter"
		
		%a.button{:href => '/new'}= "New Game"

		-if @game && !@game['game_over']
			%a.button{:href => '/play'}= "Continue Game"	