!!! 5

/[if IE 8]	 <html class="no-js lt-ie9" lang="en" >
/[if gt IE 8] <html class="no-js" lang="en" >

%head
	%meta{:charset => "utf-8"}
	%meta{:name => "viewport", :content => "width=device-width"}

	%title How Far?

	%link{ :href => "css/foundation.css", :type => "text/css", :rel => "stylesheet" }
	%script{ :src => "js/vendor/custom.modernizr.js"}

%body

	.container
	
		%div= haml :navbar
								
		%div= yield

		%div= haml :footer


	:plain
		<script>
		document.write('<script src=' +
		('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
		'.js><\/script>')
		</script>

	%script{ :type => "text/javascript", :src =>"js/foundation.min.js"}

	:plain
		<script>
		$(document).foundation();
		</script>