.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.span8.offset1
				%a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.brand{:href => '/'}
					%i.icon-plane.icon-white
					How far is...